data cleaning.ipynb
import from sql.ipynb
job_analyzer.py
luke barouse.ipynb
luke basic.ipynb
merge.ipynb
Movie Portfolio Project.ipynb
Nashville Housing Data for Data Cleaning.txt
Nashville Housing Data for Data Cleaning.xlsx
output.json
output.xlsx
python function.ipynb
python note.ipynb
python note.md
pythonsteal.py
Test.ipynb
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
.ipynb_checkpoints/Chrome Passwords-checkpoint.csv
.ipynb_checkpoints/data cleaning-checkpoint.ipynb
.ipynb_checkpoints/EDA-checkpoint.ipynb
.ipynb_checkpoints/import from sql-checkpoint.ipynb
.ipynb_checkpoints/job_analyzer-checkpoint.py
.ipynb_checkpoints/luke barouse-checkpoint.ipynb
.ipynb_checkpoints/luke basic-checkpoint.ipynb
.ipynb_checkpoints/merge-checkpoint.ipynb
.ipynb_checkpoints/Movie Portfolio Project-checkpoint.ipynb
.ipynb_checkpoints/output-checkpoint.json
.ipynb_checkpoints/python function-checkpoint.ipynb
Chrome Passwords.csv
EDA.ipynb
gspread.ipynb
.ipynb_checkpoints/python note-checkpoint.ipynb
.ipynb_checkpoints/pythonsteal-checkpoint.py
.ipynb_checkpoints/Test-checkpoint.ipynb
__pycache__/job_analyzer.cpython-311.pyc
